.card{
    background-color: aqua;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    background-color: green;
    width: 600px;
    height: 450px;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;

    img{
        margin-top: 10px;
        position: relative;
        left:200px
    }

    p{
        white-space: pre-line;
        text-align: justify;
        font-weight: bold;
    }
}