.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: 100vw;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/countryexplorer-b240f.appspot.com/o/peakpx.jpg?alt=media&token=062d4f46-5de0-4aeb-9e7a-696d1d5da3d0");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

    .flipCard{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 460px;
        transform-style: preserve-3d;
        transition: all 0.8s ease;
    }
}

.flip{
    transform: rotateY(180deg);
}